<br>

<% if current_collaborator.present? %>
  <%= link_to 'Voltar', collaborators_path %>
<% else %>
  <%= link_to 'Voltar', companies_path %>
<% end %>

<h3> Vagas de emprego cadastradas</h3>

<%= form_with url: search_job_path, method: :get do %>
  <%= label_tag :query, 'Buscar' %>
  <%= text_field_tag :query%>
  <%= submit_tag 'Pesquisar' %>
<% end %>

<% if @jobs.empty? %>
  <div class="warning">Nenhuma vaga de emprego cadastrada</div>
<% end %>

<% @jobs.each do |job| %>
  <% if job.total != 0 || current_collaborator.present? %>
    <% if job.deadline > DateTime.now || current_collaborator.present? %>
    <div>
      <dl>
        <dt>Título da vaga: <%= link_to job.title, job_path(id: job.id) %></dt>
        <dt>Descrição: <%= job.description %></dt>
        <dt>Nível: <%= job.level %></dt>
        <dt>Requerimentos: <%= job.requirements %></dt>
        <dt>Faixa salarial: <%= number_to_currency job.salary %></dt>
        <dt>Empresa: <%= job.company.name %></dt>
        <br>
        <hr>
      </dl>
    </div>
    <% end %>
  <% end %>

<% end %>

<% if current_collaborator %>
  <h4>Para cadastrar numa nova vaga clique no link abaixo</h4>
  <%= link_to 'Cadastrar uma vaga de emprego', new_job_path %>
<% end %>