<br>

<% if current_collaborator.present? %>
  <%= link_to 'Voltar', collaborators_path %>
<% else %>
  <%= link_to 'Voltar', companies_path %>
<% end %>

<h3> Vagas de emprego cadastradas</h3>

<% if @jobs.empty? %>
  <div class="warning">Nenhuma vaga de emprego cadastrada</div>
<% end %>

<% @jobs.each do |job| %>
  <div>
    <dl>
      <dt>Título da vaga: <%= link_to job.title, job_path(id: job.id) %></dt>
      <dt>Descrição: <%= job.description %></dt>
      <dt>Faixa salarial: <%= number_to_currency job.salary %></dt>
      <dt> Empresa: <%= job.company.name %></dt>
      <br>
      <hr>
    </dl>
  </div>
<% end %>

<% if current_collaborator %>
  <h4>Para cadastrar numa nova vaga clique no link abaixo</h4>
  <%= link_to 'Cadastrar uma vaga de emprego', new_job_path %>
<% end %>