<br>
<%= link_to 'Voltar', jobs_path %>

<h2>Dados da vaga de emprego</h2>
<h3> <%= @job.title %></h3>
<dl>
  <dt> Descrição da vaga: <%= @job.description %></dt>
  <dt> Faixa salarial: <%= number_to_currency @job.salary %></dt>
  <dt> Nível: <%= @job.level %></dt>
  <dt> Requisitos: <%= @job.requirements %></dt>
  <dt> Data limite: <%= l(@job.deadline) %></dt>
  <dt> Total de posições: <%= @job.total %></dt>
</dl>
<% if current_collaborator %> 
  <%= link_to 'Editar vaga de emprego', edit_job_path %>
  <br><hr>
  <h4>Candidaturas </h4>
  <% @candidacies.each do |candidacy| %>
    <%= link_to candidacy.candidate.email, candidate_path(id: candidacy.candidate.id, job_id: @job.id)%>
    <br>
  <% end %>
<% else %>
  <% if @candidate_job.blank? %>
    <%= link_to 'Candidatar-se', application_job_path, method: :post %>
  <% else %>
    <dt>Status de sua candidatura: <%= t(@candidate_job.status_candidate) %></dt>
  <% end %>
<% end %>