<br>
<%= link_to 'Voltar', jobs_path %>

<h2>Dados da vaga de emprego</h2>
<h3> <%= @job.title %></h3>
<dl>
  <dt> Descrição da vaga: <%= @job.description %></dt>
  <dt> Faixa salarial: <%= number_to_currency @job.salary %></dt>
  <dt> Nível: <%= @job.level %></dt>
  <dt> Requisitos: <%= @job.requirements %></dt>
  <dt> Data limite: <%= l(@job.deadline) %></dt>
  <% if current_collaborator.present? %>
    <dt> Total de posições: <%= @job.total %></dt>
    <dt> Status: <%= @job.status %></dt>
  <% end %>
  
</dl>
<% if current_collaborator %>
  <% unless @job.disabled? %>
    <%= link_to 'Desativar vaga de empego', disable_job_path, method: :post %> <br>
  <% end %>
  <%= link_to 'Editar vaga de emprego', edit_job_path %>
  <br><hr>
  <h4>Candidaturas </h4>
  <% @candidacies.each do |candidacy| %>
    <%= link_to candidacy.candidate.email, candidate_path(id: candidacy.candidate.id, job_id: @job.id)%>
    <br>
  <% end %>
<% else %>
  <% if @candidate_job.blank? %>
   <%  unless @job.disabled? %>
    <%= link_to 'Candidatar-se', application_job_path, method: :post %>
  <% else %>
    <dt>Essa vaga de emprego foi desativada pela empresa</dt>
  <% end %>
  <% else %>
    <dt>Status de sua candidatura: <%= @candidate_job.status_candidate %></dt>
    <% if @candidate_job.approved? %>
      <% if @candidate_job.pendant? %>
        <br><%= button_to 'Aceitar', accept_job_path(id: @candidate_job.id), method: :post %>
        <br> <%= button_to 'Recusar', decline_job_path(id: @candidate_job.id), method: :post %> 
      <% else %>
        <br><dt> Você <%= @candidate_job.status_proposal %> a vaga</dt>
      <% end %>
    <% end %>
  <% end %>
<% end %>