<%= link_to 'Voltar', jobs_path %>

<h2>Dados da vaga de emprego</h2>
<h3> <%= @job.title %></h3>
<dl>
  <dt> Descrição da vaga: <%= @job.description %></dt>
  <dt> Faixa salarial: <%= number_to_currency @job.salary %></dt>
  <dt> Nível: <%= @job.level %></dt>
  <dt> Requisitos: <%= @job.requirements %></dt>
  <dt> Data limite: <%= l(@job.deadline) %></dt>
  <dt> Total de posições: <%= @job.total %></dt>
</dl>

<%= link_to 'Editar vaga de emprego', edit_job_path %>