<br>
<%= link_to 'Voltar', job_path %>

<h2>Dados do candidato</h2>
<h3> <%= @candidate.name %></h3>
<dl>
  <dt> Email: <%= @candidate.email %></dt>
  <dt> Calular: <%= @candidate.cell_phone %></dt>
  <dt> Biografia resumida: <%= @candidate.short_biography %></dt>
  <dt> Formação academica: <%= @candidate.academic_training %></dt>
</dl>
<hr>
<dt>Status da candidatura: <%= @candidate_job.status_candidate %></dt> <br><br>
<% if @candidate_job.feedback.present? %>
  <dt>Feedback: <%= @candidate_job.feedback %> </dt>
<% end %>
<% if @candidate_job.pending? %> 
  <%= button_to 'Aprovar candidato', approve_candidate_path(id: @candidate_job.id), method: :post %> <br><br>
  <%= button_to 'Recusar candidato', disapprove_candidate_path(id: @candidate_job.id), method: :post %> <br><br>
<% end %>




