<br>
<%= link_to 'Voltar', collaborators_path %>
<h4>Editar os dados da empresa</h4>

<%= form_with(model: @company) do |f| %>

  
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label 'Logotipo' %> <br>
    <%= f.file_field :photo %>
  </div><br>
  <div>
    <%= f.label :cnpj %> <br>
    <%= f.text_field :cnpj %>
  </div><br>
  <div>
    <%= f.label :address %> <br>
    <%= f.text_field :address %>
  </div><br>
  <div>
    <%= f.label :district %> <br>
    <%= f.text_field :district %>
  </div><br>
  <div>
    <%= f.label :city %> <br>
    <%= f.text_field :city %>
  </div> <br>
   <div>
    <%= f.label :state %> <br>
    <%= f.text_field :state %>
  </div> <br>
   <div>
    <%= f.label :zip_code %> <br>
    <%= f.text_field :zip_code %>
  </div> <br>
   <div>
    <%= f.label :facebook %> <br>
    <%= f.text_field :facebook %>
  </div> <br>
     <div>
    <%= f.label :instagram %> <br>
    <%= f.text_field :instagram %>
  </div> <br>
  <div>
    <%= f.submit %>
  </div>

<% end %>