<h3>Empresas Cadastradas</h3>
<hr>
<%= form_with url: search_company_path, method: :get do %>
  <%= label_tag :query, 'Buscar empresa' %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Pesquisar' %>
<% end %>
<hr>
<% @companies.each do |company| %>
  <dt> Nome da Empresa: <%= company.name %></dt>
  <dt> Domínio: <%= company.domain %></dt>
  <dt> Endereço <%= company.address %></dt>
  <dt> Cidade: <%= company.city %></dt>
  <dt> Estado: <%= company.state %></dt> <br>
  <%=  link_to 'Visualizar vagas da empresa', jobs_path(company_id: company.id) %> <br><hr>
<% end %>
