<br>
<%= link_to 'Voltar', collaborators_path %>

<h2>Dados da empresa</h2>
<h3> Domínio: <%= @company.domain %></h3><br>
<% if @company.logo.present? %>
<%= image_tag @company.logo%>
<% end %>

<dl>
  <dt> Nome da empresa: <%= @company.name %></dt>
  <dt> CNPJ: <%= @company.cnpj %></dt>
  <dt> Endereço: <%= @company.address %></dt>
  <dt> Bairro: <%= @company.district %></dt>
  <dt> Cidade: <%= @company.city %></dt>
  <dt> Estado: <%= @company.state %></dt>
  <dt> CEP: <%= @company.zip_code %></dt>
  <dt> Facebook: <%= link_to @company.facebook, @company.facebook %></dt>
  <dt> Instagram: <%= @company.instagram %></dt>

</dl> 